<p style="color: green"><%= notice %></p>

<h1>Payments</h1>
<%= @category.name%>
<div id="payments">
  <% @payments.each do |payment| %>
  
    <%= render payment %>
    <p>
     <%= link_to "Show this payment", category_payment_path(@category, payment) %>

    </p>
  <% end %>
</div>

<%= link_to "New payment", new_category_payment_path %>

<%= link_to "Back to categories", categories_path %>
